.makapenIntro {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    line-height: 2.5em;
}
.logo{
    padding: 1em;s
}
.makapenL {
    font-family: "Open Sans", san-serif;
    font-size: 6em;
    color: #3399cc;
}
.slashL {
  font-family: "Open Sans", san-serif;
    font-size: 6em;  
    color: black;
}
.coL{
     font-family: "Open Sans", san-serif;
    font-size: 5em;
    color: black;
}
.mainText1 {
    font-size: 3em;
    line-height: 1.2em;
    padding: 1em;
}