.makapenIntro {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    line-height: 2.5em;
}
.logo{
    padding: 1em;
    padding-top: 10%;
}
.makapenL {
    font-family: "Open Sans", san-serif;
    font-size: 6em;
    color: #3399cc;
}
.slashL {
  font-family: "Open Sans", san-serif;
    font-size: 6em;  
    color: black;
}
.coL{
     font-family: "Open Sans", san-serif;
    font-size: 5em;
    color: black;
}
.mainText1 {
    font-size: 3em;
    line-height: 1.2em;
    padding: 1em;
}


#portfolio .image {
    height:200px;
}


#portfolio .image #origami-logo {
    width: 200px;
    position: relative;
    top: 35px;
    left: 50%;
    margin-left: -100px;
}

#portfolio .image #rentcast-logo {
    width: 300px;
    top: 50%;
    position: relative;
    margin-top: -35px;
    left: 50%;
    margin-left: -150px;

}

#portfolio article .description {
  min-height: 140px;

}