/*==========  GENERIC  ==========*/
.centered {
  text-align: center;
}

.vert-align-text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.grey-text {
  color: $colorGray;
}

.white-text {
  color: $colorWhite;
}
/*==========  TAG  ==========*/
.tag {
  @include type--small;
  font-family: $fontHighlight;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;

  &:hover {
    color: $colorGrayDark;
  }

  &::before {
    content: "# ";
    display: inline-block;
  }
}
