/*==========  GENERIC  ==========*/
.centered {
  text-align: center;
}

.vert-align-text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.grey-text {
  color: $colorGray;
}

.padding-r {
  padding-right: 10px;
}

.white-text {
  color: $colorWhite;
}

.small-text {
  font-size: .8em;
}

.portfolio-link {
    text-decoration: none;
    position: relative;
}
.portfolio-link:after {
    content: 'featured projects';
    color: transparent;

    width: 100%;
    position: absolute;
    left: 0;
    bottom: -2px;

    border-color: #737373;
    border-width: 0 0 1px;
    border-style: solid;
}
/*==========  TAG  ==========*/
.tag {
  @include type--small;
  font-family: $fontHighlight;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;

  &:hover {
    color: $colorGrayDark;
  }

  &::before {
    content: "# ";
    display: inline-block;
  }
}
