// Section Styling
.section {
  padding-top: $padding-section;
  padding-bottom: $padding-section;
}

.section--gray {
  background-color: $colorGrayLight;
}

.section--white {
  background-color: $colorWhite;
}

.section--dark {
  background-color: #333;
  color: #f8f8f8;
}

.section--top {
  padding-top: 10em;
}

@media (max-width: 620px) {
  .section--top {
    padding-top: 6em;
  }
}

// Condensing Column Width
.condensed-col {
  max-width: 800px;
  margin-left: 0;
}

// Scroll Arrow
.scroll-arrow {
  font-size: 1.5em;
  border: 3px solid #3399cc;
  border-radius: 50%;
  padding: 5px;
}

a.arrow-link {
  color: #f8f8f8;
}

a:hover.arrow-link {
  color: #f8f8f8;
}


// General Styles
.black-slash {
  color: $colorBlack;
}

.blue-slash {
  color: $colorBlue;
}

.centered {
  text-align: center;
}

.blue-divider {
  border-top: 2px solid #3399cc;
}

.vert-align-text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.grey-text {
  color: $colorGray;
}

.italic-text {
  font-style: italic;
}

.padding-r {
  padding-right: 10px;
}

.margin-r {
  margin-right: 10px;
}

.white-text {
  color: $colorWhite;
}

.small-text {
  font-size: .8em;
}

/*==========  TAG  ==========*/
.tag {
  @include type--small;
  font-family: $fontHighlight;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;

  &:hover {
    color: $colorGrayDark;
  }

  &::before {
    content: "# ";
    display: inline-block;
  }
}
