/**
*
* Button
*
**/

.button {
  display: inline-block;
  padding: (($lineHeight / 2) - 1) 32px;
  margin-bottom: $lineHeight / 2;
  margin-top: $lineHeight / 2;
  min-height: $lineHeight;

  text-align: center;

  font-family: $fontHighlight;
  font-weight: 600;
  text-decoration: none;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  outline: 0;

  transition: none;
  user-select: none;

  &:hover, &:focus {
    background: $colorBlackLight;
    color: #ffffff;
    border: 1px solid #4d4d4d;
    text-decoration: none;
  }

  &:active {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  }
}

// Mixin to create buttons
@mixin style-button($color, $textColor, $hover, $isInverted: false) {

  background: $color;
  color: $textColor;
  border: 1px solid darken($color, 10%);
  border-radius: 2px;

  transition: 0.1s ease-in-out;

  &:hover, &:focus {
    background: $hover;
    border: 1px solid $hover;
  }

  &:active {
    border: 1px solid darken($hover, 10%);
  }
  @if $isInverted { border-color: transparent;}
}


.button--primary {
  @extend .button;
  @include style-button($color: #ffffff, $textColor: $colorBlue, $hover: darken($colorBlue, 10%));
  border: 1px solid $colorBlue;
  box-shadow: none;
  font-weight: 300;
  border-radius: 0px;
  text-transform: uppercase;
  &:focus, &:active, &:hover{
    text-transform: uppercase;
    font-weight: 300;
    box-shadow: none;
  }
}

.button--contact {
  @extend .button;
  transition: all 0.4s ease;
  font-weight: 300;
  border: none;
  text-transform: upercase;
  background-color: $colorBlue;
  border: 3px solid $colorWhite;
  color: $colorWhite !important;
  box-shadow: none;
  display: inline;
  &:focus, &:active, &:hover{
    background-color: $colorWhite;
    border: 3px solid $colorWhite;
    color: $colorBlue !important;
  }
}

.button--secondary {
  @extend .button;
  @include style-button(#ffffff, $colorBlue, $colorBlue);
}

.button--secondary-variation {
  @extend .button;
  @include style-button(#ffffff, $colorBlue, $colorBlue, true);
}
