
#client {
  background-color: $colorBlue;
  padding-top: 6em;
  position: relative;
  width: 100%;
  .main {
    @include col(1/2);
    color: $colorWhite;
    text-align: center;
    img {
      width: 60%;
    }

    @media (max-width: $screen-xs) {
      @include col(1/1);
    }
  }
  .side {
    @include col(1/2);
    h1 {
      color: $colorWhite;
      font-style:oblique;
      text-transform: uppercase;
      font-weight: 100;
    }
    p {
      max-width: 90%;
      font-size: $fontBase;
      color: $colorWhite;
    }

    @media (max-width: $screen-xs) {
      @include col(1/1);
      margin-top: 2em;
    }
  }
}



.logo {
  width: auto;
  max-width: 200px;
}

.tools {
  ul {
    list-style-type: none;
    font-style: italic;
    padding-left: 0;
    text-transform: uppercase;
  }

  hr {
    left: 0;
    max-width: 200px;
    height: 1px;
    margin: 0;
    border: 0;
    background-color: #000;
  }
}
