/**
*
* Contact styling
*
**/

#contact {
  overflow: hidden;
  background: url('../../images/map.png') no-repeat center center;
  background-size: cover;

  .contact_content {
    clear: both;
    background-color: $colorWhite;
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .col {
    margin-bottom: 0;
  }

  h1 {
    width: 200px;
    margin: auto;
    margin-bottom: 1em;
    color: $colorBlue;
    letter-spacing: 0.03em;
    font-weight: 100;
    text-transform: uppercase;
    font-style: italic;
  }
}
.contact__content {
  @include center();
  opacity: initial;
}

.contact_newsletter {
  background-color: $colorBlue;
  margin: auto;
  font-size: 1.3em;
  height: 10em;
  padding-top: 1em;

.newsletter {
  color: $colorWhite;
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.center-form {
  margin: 0 auto;
}

.newsletter_form {
  width: 100%;
  padding-left: 22%;
  padding-top: 2em;
}

  input {
    color: $colorBlue !important;
    padding: 0.7em;
    margin-bottom: 1em;
    border: none;
    width: 40%;
    display: inline;
    float: left;
    background-color: $colorWhite;
    &:focus, &:active {
      outline: none;
      border: none;
    }
  }

  ::-webkit-input-placeholder { /* WebKit browsers */
    color:    $colorBlue;
}
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $colorBlue;
   opacity:  1;
}
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $colorBlue;
   opacity:  1;
}
  :-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    $colorBlue;
}
  .button--newsletter {
    padding: 11.5px 32px;
    margin-top: 0px;
    margin-left: 2em;
    transition: all 0.4s ease;
    font-weight: 300;
    border: none;
    background-color: $colorBlue;
    border: 3px solid $colorWhite;
    color: $colorWhite !important;
    box-shadow: none;
    display: inline;
    float: left;
    &:focus, &:active, &:hover{
      background-color: $colorWhite;
      border: 3px solid $colorWhite;
      color: $colorBlue !important;
    }
  }
}

.contact_infos {
  width: 50%;
  margin: 0 auto;
  height: 60px;
  background-color: white;
  padding-top: 3em;
  padding-bottom: 2em;
}

.contact_mail {
  transition: all 0.4s ease;
  display: inline;
  text-align: center;
  padding-top: 2.5em;
  letter-spacing: 0.03em;
  font-size: 20px; 
  float: left;
  color: $colorBlue;
  width: 49%;
  cursor: pointer;
}

.contact_mail:hover {
  color: $colorBlue;
  width: 49%;
  text-decoration: underline;
}

.contact_social {
  padding-top: 0.5em;
  display: inline;
  text-align: center;
  float: left;
  width: 49%;
  border-left: 1px solid $colorBlue;
}

.circle {
  border-radius: 50% !important;
}

.fa-facebook {
  transition: all 0.4s ease;
  background: $colorFacebook;
  color: $colorWhite !important;
}

.fa-twitter {
  transition: all 0.4s ease;
  background: $colorTwitter;
  color: $colorWhite !important;
}

.fa-linkedin {
  transition: all 0.4s ease;
  background: $colorLinkedin;
  color: $colorWhite !important;
}

.fa-facebook:hover {
  background: $colorWhite;
  color: $colorFacebook !important;
}

.fa-twitter:hover {
  background: $colorWhite;
  color: $colorTwitter !important;
}

.fa-linkedin:hover {
  background: $colorWhite;
  color: $colorLinkedin !important;
}

@media (max-width: 1100px) { 
  .contact_social {
    display: block;
    margin: 0 auto;
    border: none;
    width: 100%;
  }

  .button--newsletter {
    margin-left: 0px !important;
  }

  .contact_mail {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 1em;
    border-bottom: 1px dashed $colorBlue;
  }
 }
