/**
*
* Contact styling
*
**/

#contact {
  overflow: hidden;
  background: url('../../images/map.png') no-repeat center center;
  background-size: cover;

  .black-overlay {
    clear: both;
    background-color: rgba(60, 60,60, 0.8);
    padding-top: 6em;
    padding-bottom: 6em;
  }
  .col {
    margin-bottom: 0;
  }

  h1 {
    width: 200px;
    margin: auto;
    margin-bottom: 1em;
    color: $colorWhite;
    letter-spacing: 0.03em;
    font-weight: 100;
    text-transform: uppercase;
    font-style: italic;
  }
}
.contact__content {
  @include center();
  opacity: initial;
}

.contact__form {
  max-width: 800px;
  margin: auto;
  font-size: 1.3em;

  input {
    display: block;
    color: $colorBlack;
    padding: 0.3em;
    margin-bottom: 1em;
    border: none;
    background-color: $colorWhite;
    &:focus, &:active {
      outline: none;
      border: none;

    }
  }

  textarea {
    box-sizing: border-box;
    border: none;
    display: block;
    background-color: $colorWhite;
    width: 100%;
    height: 250px;
    resize: none;
    &:focus, &:active {
      outline: none;
    }
  }

  .button--primary {
    font-weight: 400;
    border: none;
    box-shadow: none;
    float: right;
    &:focus, &:active, &:hover{
      background-color: $colorBlue;
      font-weight: 400;
      box-shadow: none;
      border: none;
    }
  }
}
