/**
*
* Footer styling
*
**/

footer {
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #3399cc;
  color: #fff;
}

.footer_copyright {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-top: 17px;
}

.footer__content {
  @include center();

  span {
    display: block;
    text-align: center;
  }
}

.footer__ul {
  @include cf();
  display: inline-block;
  padding-left: 0;

  li {
    float: left;
    list-style: none;
    margin: auto;
    padding: 5px;
    padding-right: 20px;

    a {
      -webkit-tap-highlight-color: transparent;
    }
  }

  li a .fa-stack {
    color: $colorBlack;
    transition: 0.2s ease-in-out;

    &:visited, &:hover, &:focus, &:active {
      color: $colorBlackLight;
    }

    .fa-stack-1x {
      color: $colorBlack;

      &:visited, &:hover, &:focus {
        color: $colorBlackLight;
      }
    }
  }
}
