
footer {
  background-color: $colorLightGrey;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.footer__content {
  @include center();

  span {
    display: block;

    text-align: center;
  }
}

.footer__ul {
  @include cf();
  display: inline-block;
  padding-left: 0;

  li {
    float: left;
    list-style: none;
    margin: auto;
  }

  li a{
    color: $colorBlack;
  }

  li a:visited, li a:hover, li a:focus {
    color: $colorBlack;
  }
}
