/**
*
* Logo styling
*
**/

#logo {
  @include cf();

  height: 100%;
}

.logo__content {
  @include center();

  span {
    font-size: 1.5rem;
  }
}

.logo__content-wrapper {
  display: block;
  user-select: none;
  padding-top: 100px;
  margin-bottom: -100px;

  a {
    display: inline-block;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .fa {
    color: $colorGray;
    user-select: none;

    &:focus, &:active, &:hover {
      color: $colorBlack;
      user-select: none;
    }

  }
}

.logo__image {
  @include cf();

  display:block;
  margin: auto;
  width: auto;
  max-width: 60%;
  max-height: 10%;
}

#slider {
  margin-top: 125px;
  max-width: 95%;
  img {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
