/**
*
* Logo styling
*
**/

#logo {
  @include cf();

  height: 100%;
}

.logo__content {
  @include center();

  span {
    font-size: 1.5rem;
  }
}

.logo__content-wrapper {
  display: block;
  padding-top: 25px;
  user-select: none;

  a {
    display: inline-block;
    user-select: none;
  }
  .fa{
    color: $colorGray;
    user-select: none;

    &:focus, &:active, &:hover {
      color: $colorBlack;
      user-select: none;
    }

  }
}

.logo__image {
  @include cf();

  display:block;
  margin: auto;
  width: auto;
  max-width: 60%;
  max-height: 10%;
}
