/**
*
* Nav styling
*
**/

#nav-bar {
  background-color: $colorGrayLight;
  z-index: 6;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  transition: all 0.4s ease;
}

.nav-bar__list {
  @include cf();
  width: calc(100% - 2em);
  padding-left: 0;
  margin-left: 1em;
  margin-right: 1em;
}

.nav-bar__list .nav-bar__list-icon {
  float: left;
  padding-top: 0;
}

.nav-bar__list  li {
  float: right;
  padding-top: 5px;
  padding-right: 35px;
  list-style: none;
  font-weight: 600;
  font-size: 1em;
  text-transform: uppercase;
  // font-style: italic;
  color: $colorBlack;

  a {
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
  }

  .last {
    padding-right: 0;
  }
  a, a:visited {
    text-decoration:none;
    color: $colorBlack;
    transition: all 0.2s ease-in-out;

    &:focus, &:hover {
      color: $colorBlack;
      transition: all 0.2s ease-in-out;
    }
  }
}

.active-link {
    text-decoration: none;
    position: relative;
    color: #3399cc !important;
}
.active-link:after {
    content: 'featured projects';
    color: transparent;

    width: 100%;
    position: absolute;
    left: 0;
    bottom: -4px;

    border-color: $colorBlue;
    border-width: 0 0 2px;
    border-style: solid;
}

#nav-dropdown {
  // background-color: #eeeeee;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 0;
  width: 100%;
  z-index: 5;
  a{
    @include cf();
  }
}

.nav-mk__icon {
  position: fixed;
  top: 0.75em;
  left: 1em;

  height: 30px;
  width: 70px;

  overflow: hidden;
  cursor: pointer;
  z-index: 100;

  background: url('../../images/logos/mklogo-small.png') no-repeat top left;
  background-size: 70px 30px;

  opacity: 0;
  transition: opacity 0.4s ease-in-out;

  @media (max-width: $medium) {
    height: 30px;
    width: 70px;
    background-size: 70px 30px;
    opacity: 1;
  }
}

.nav-mk__icon--lg {
  position: relative;
  height: 30px;
  width: 150px;

  overflow: hidden;
  cursor: pointer;

  background: url('../../images/logos/mklogo.png') no-repeat top left;
  background-size: 150px 30px;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}


.nav-ham__wrapper {
  position: fixed !important;
  top: 1em !important;
  right: 1em !important;
  z-index: 100;

  height: 30px;
  width: 24px;

  -webkit-tap-highlight-color: transparent;
}

.nav-ham__icon {
  position: fixed;
  top: 1.6em;
  right: 1em;

  cursor: pointer;
  opacity: 0;

  width: 24px;
  height: 4px;
  background-color: $colorBlack;
  transition: background-color 0.4s ease,
              transform 0.4s ease,
              top 0.4s ease,
              opacity 0.4s ease;

  &:after {
    top: 8px;
  }

  &:before {
    top: -8px;
  }
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 4px;
    background-color: $colorBlack;
    transition: background-color 0.4s ease,
                transform 0.4s ease,
                opacity 0.4s ease,
                top 0.4s ease;
  }
}

.nav-ham__icon.nav-ham__icon--open {
  background-color: $colorGrayLight;
  &:before, &:after {
    top: 40%;
    transform: rotate(45deg);
    background-color: $colorBlack;
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.nav-drawer {
  position: fixed;
  visibility: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: $colorGrayLight;
}

.nav-drawer.nav-drawer--active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease,
              visibility 0.4s ease;
}

.nav-drawer__list {
  padding: 0;
  margin: auto;
  font-style: italic;

  li {
    padding:0;
    list-style: none;
    text-align: center;

    a, a:visited {
      display: block;
      padding: 1em;
      width: 100%;
      box-sizing: border-box;
      font-size: 36px;
      text-decoration:none;


      &:hover {
        background-color: $colorWhite;
        color: $colorBlack;
      }

      @media (max-height: $medium) {
        font-size: 24px;
      }
    }
  }
}

.fade-in {
  opacity: 1;
  visibility: visible;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: $medium) {
  #nav-bar {
    display: none;
  }
  #nav-dropdown {
    background-color: #eee;
  }
  .nav-ham__icon {
    opacity: 1;
  }

}
