/**
*
* Nav styling
*
**/

#nav-bar {
  position: absolute;
  top: 0;
  right: 0;
}

.nav-bar__list li {
  float: right;
  padding-top: 10px;
  padding-right: 35px;
  list-style: none;

  a, a:visited {
    text-decoration:none;
    color: $colorDarkGrey;
    transition: all 0.2s ease-in-out;

    &:focus, &:hover {
      color: $colorBlack;
      transition: all 0.2s ease-in-out
    }
  }
}

#nav-ham {
  position: relative;
  top: 0;
  right: 0;
}

.nav-ham__icon {
  position: absolute;
  top: -9999px !important;
  right: -9999px !important;

  overflow: hidden;
  cursor: pointer;
  z-index: 9999;

  transition: opacity 1s ease-in-out;
  opacity: 0;

}

.nav-ham__icon--sticky {
  position: fixed !important;
  top: 3% !important;
  right: 3% !important;

  overflow: visible !important;
  opacity: 1 !important;
  transition: opacity 1s ease-in-out;

}

.nav-drawer {
  display: block;
  position: fixed;
  z-index: 1000;

  top: -100%;
  right: 0;
  opacity: 0;

  width: 45%;
  height: auto;
  background-color: $colorWhite;
  border-left: 1px solid $colorBlack;

  transition: all 0.6s ease-in-out;
}

.nav-drawer--active {
  top: 0 ;
  opacity: 1;
  transition: all 0.6s ease-in-out;
}

.nav-drawer__list {
  padding: 0;
  margin: 0;

  li {
    padding: 5% 0 5% 5%;
    list-style: none;

    border-bottom: 1px solid $colorLightGrey;

    a, a:visited {
      text-decoration:none;
      color: $colorDarkGrey;

      &:focus, &:hover {
        color: $colorBlack;
      }
    }
  }
}
