
.nav-bar {
  position: absolute;
  top: 0px;
  right: 0px;

  padding-bottom: 5px;
}

.nav-bar__ul li {
  float: right;
  padding-right: 25px;
  list-style: none;
}

.nav-bar__li a {
  text-decoration:none;
  color: $colorBlack;
}

.nav-bar__li a:visited, :focus {
  color: $colorBlack;
}

.nav-bar__li a:hover {
  color: $colorLightGrey;
}
