/**
*
* Nav styling
*
**/

#nav-bar {
  position: absolute;
  top: 0;
  right: 0;
}

.nav-bar__list li {
  float: right;
  padding-top: 10px;
  padding-right: 35px;
  list-style: none;

  a, a:visited {
    text-decoration:none;
    color: $colorGrayDark;
    transition: all 0.2s ease-in-out;

    &:focus, &:hover {
      color: $colorBlack;
      transition: all 0.2s ease-in-out
    }
  }
}

#nav-dropdown {
  position: relative;
  top: 0;
  left: 0;
}

.nav-mk__icon {
  position: absolute;
  top: -9999px !important;
  left: -9999px !important;

  height: 30px;
  width: 70px;

  overflow: hidden;
  cursor: pointer;
  z-index: 9999;

  background: url('../../images/mklogo-small.png') no-repeat top left;
  background-size: 70px 30px;

  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.nav-mk__icon--sticky {
  position: fixed !important;
  top: 0.75em !important;
  left: 1em !important;

  overflow: visible !important;
  opacity: 1 !important;
  transition: opacity 1s ease-in-out;
}

.nav-ham__icon {
  position: absolute;
  top: 0 !important;
  right: 0 !important;

  overflow: hidden;
  cursor: pointer;
  z-index: 9999;

  width: 200px;
  height: 200px;
  background-color: $colorBlue;
  transition: all 0.4s ease;
  opacity: 1;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: $colorWhite;
    transition: all 0.4s ease;
  }

  &:after {
    top: 60%;
  }
}

.nav-ham__icon.nav-ham__icon--open {
  background-color: $colorBlack;
  &:before, &:after {
    top: 40%;
    transform: rotate(45deg);
    background-color: $colorWhite;
  }

  &:after {
    transform: rotate(-45deg);
  }
}
.nav-ham__icon--sticky {
  position: fixed !important;
  top: 0.7em !important;
  right: 1em !important;

  overflow: visible !important;
  opacity: 1 !important;
  transition: opacity 1s ease-in-out;
}

.nav-drawer {
  display: block;
  position: fixed;
  z-index: 1000;

  top: 0;
  right: -100%;
  opacity: 0;

  width: 300px;
  height: 100%;
  background-color: $colorWhite;
  border-left: 1px solid $colorBlack;
  border-bottom: 1px solid $colorBlack;
  transition: all 0.7s ease-in-out;
}

.nav-drawer--active {
  right: 0;
  opacity: 1;
  transition: all 0.7s ease-in-out;
}

.nav-drawer__list {
  padding: 0;
  margin: 0;

  li {
    padding: 5% 0 5% 5%;
    list-style: none;

    border-bottom: 1px solid $colorGrayLight;

    &:last-child {
      border-bottom: none;
    }
    a, a:visited {
      text-decoration:none;
      color: $colorGrayDark;

      &:focus, &:hover {
        color: $colorBlack;
      }
    }
  }
}

@media only screen and (max-width: $medium) {
  #nav-bar {
    display: none;
  }
  .nav-drawer {
    min-width: 100%;
  }
}
