/**
*
* Philosophy styling
*
**/

#philosophy {

  padding-top: 3em;

  h1 {
    // font-weight: 700;
    // color: $colorBlue;
    // letter-spacing: 1.5px;
    // font-size: 1.9em;
    // text-transform: uppercase;
    // font-style: italic;
  }
  p {
    // max-width: 90%;
    // margin-left: auto;
    // margin-right: auto;
  }


}
