
#portfolio {

}

.portfolio__work {
  @include col(1/2);
}

.portfolio__work-pawzii {
  height: 400px;
  background: url('../../../images/portfolio/pawziidog.png')
                no-repeat scroll center center / cover transparent;
}

.portfolio__work-about {
  opacity: 0;
  height: 100%;
  max-width: 100%;
  position: relative;
  transition: 0.5s ease-in;
  transform: translate(0, 100%);
}
.portfolio__work-pawzii:hover .portfolio__work-about {
  opacity: 1;
  background-color:rgba(255,255,255,.9);
  transform: translate(0, 0);
}
