/**
*
* Portfolio styling
*
**/

#process {
  padding-top: $padding-section;
  padding-bottom: $padding-section;
  background: url('../../images/blue-background.png');

  h1 {
    font-weight: 300;
    text-transform: uppercase;
    font-style: italic;

  }
}


