
.product {
  margin-top: $padding-section;
  position: relative;
  width: 100%;
  .main {
    @include col(2/3);

    .border {
      border: 1px solid #ccc;
      border-radius: 2px;
      padding: 10px;
    }
    img {
      width: 100%;
    }

    @media (max-width: $screen-xs) {
      @include col(1/1);
    }
  }
  .side {
    @include col(1/3);

    h4 {
      font-style:oblique;
    }

    @media (max-width: $screen-xs) {
      @include col(1/1);
      margin-top: 2em;
    }
  }
}

.logo {
  width: 100%;
  max-width: 200px;
}

.tools {
  ul {
    list-style-type: none;
    font-style: italic;
    padding-left: 0;
  }

  hr {
    left: 0;
    max-width: 200px;
    height: 1px;
    margin: 0;
    border: 0;
    background-color: #000;
  }
}
