
#product {
  margin-top: 9em;
  margin-bottom: 6em;
  position: relative;
  width: 100%;
  .main {
    @include col(.55);
    text-align: center;
    img {
      width: 95%;
    }

    @media (max-width: $screen-xs) {
      @include col(1/1);
    }
    img {
      padding-top: 2em;
    }
  }
  .side {
    @include col(.40);
    padding-left: 3%;
    h4 {
      font-style:oblique;
      text-transform: uppercase;
      font-weight: 100;
    }
    p {
      max-width: 90%;
      font-size: $fontBase;
    }

    @media (max-width: $screen-xs) {
      @include col(1/1);
    }
  }
  @media (max-width: $screen-xs) {
    margin:0px;
    padding-top: 4em;
    padding-bottom: 4em;
  }
}


h1 {
  font-weight: 700;
  text-transform: uppercase;
}

.logo {
  width: auto;
  max-width: 200px;
}

.tools {
  ul {
    list-style-type: none;
    font-style: italic;
    padding-left: 0;
    text-transform: uppercase;
  }

  hr {
    left: 0;
    max-width: 200px;
    height: 1px;
    margin: 0;
    border: 0;
    background-color: #000;
  }
}
