/**
*
* Process styling
*
**/

#process {
  max-width: 100%;

  h1 {
    margin-left: auto;
    margin-right: auto;
  }

  .col {
    padding-right: 0px;
    padding-left: 0px;
    max-width: none;
  }

  .two-cols-description-row {
    display: none;
    display: table;
    table-layout: fixed;
  }

  .process__content {
    @include col(1/3);
    margin-top: 30px;
    img {
     @include center();
   }
  }
  .two-cols-description-text {
    vertical-align: middle;
    padding: 6em 5em;
    width: 50%;
    display: table-cell;
    float: none !important;
  }

  .two-cols-description-image {
    position: relative;
    overflow: hidden;
  }

  .two-cols-description-image,
  .two-cols-description-text {
    visibility: hidden;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: 0s;
  }

  .process-one-image {
    // background: url('https://static.pexels.com/photos/2916/clothes-travel-voyage-backpack.jpg') center no-repeat;
    background: url('../images/process/process_one.png') center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .process-two-image {
    // background: url('https://static.pexels.com/photos/1714/city-people-woman-street.jpg') center no-repeat;
    background: url('../images/process/process_two.png') center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .process-three-image {
    // background: url('https://static.pexels.com/photos/363/nature-sunny-people-clouds.jpg') center no-repeat;
    background: url('../images/process/process_three.jpg') center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .two-cols-description-image {
    width: 50%;
    display: table-cell;
    float: none !important;
  }

  // Media Query for images and process divs
  @media (max-width: 992px) {
    .two-cols-description-image {
      display: table-row;
      -webkit-transition: color 0.5s ease;
      -moz-transition: color 0.5s ease;
      -o-transition: color 0.5s ease;
    }
    .two-cols-description-text {
      padding: 20px;
    }
  }
}

// Media Query for entire Process Section
@media (max-width: 992px) {
  #process {
    padding: 6em 0;
    background-color: $colorWhite;
  }
}
