#questions {
  padding-top: 6em;
  padding-bottom: 3em;
  position: relative;
  width: 100%;
  color: $colorWhite;

  a {
    text-decoration: none;
  }
  p {
    max-width: 50%;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .main {
    @include col(1/1);
    text-align: center;
    @media (max-width: $screen-xs) {
      @include col(1/1);
      margin:0px;
      padding: 0px;
    }
  }
  @media (max-width: $screen-xs) {
    padding-top: 4em;
    padding-bottom: 4em;
    p {
      max-width: 90%;
      margin: 0;
    }
  }
}
