/**
*
* Services styling
*
**/

#services {
  max-width: 100%;

  padding-bottom: 15px;
  background-color: $colorBlue;
}

.services__content {
  @include col(1/3);
  font-size: $fontMedium;
  color: $colorWhite;

  hr {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
}

@media only screen and (max-width: $medium) {
  .services__content {
    @include stack();

    font-size: $fontBase;
    text-align: center;

    padding-bottom: 30px;

    ul {
      margin: auto;
    }
  }
}
