/**
*
* Services styling
*
**/

#services {
  min-width: 100%;
  padding-top: $padding-section;
  padding-bottom: $padding-section;
  h1 {
    // font-weight: 700;
    // color: $colorBlue;
    // letter-spacing: 1.5px;
    // font-size: 1.9em;
    // text-transform: uppercase;
    // font-style: italic;
  }
  p {
    font-style: italic;
  }
}
.services__content-row {
  visibility: hidden;
}

.services__content {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
  @include col(1/3);
  color: $colorBlack;
  text-align: left;
  padding: 10px 0;

  p {
    font-style: italic;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}

@media (max-width: 992px) {
  .services__content {
    width: 100%;
  }
}

@media only screen and (max-width: $medium) {
  .services__content {
    @include stack();
    text-align: left;
    padding-bottom: 30px;

    hr {
      margin: 0 auto 5px auto;
    }

    ul {
      margin: auto;
    }
  }
}
