// boats
#boats {
  opacity: 0;
  animation: boats 3s linear;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

#small_boat {
  transform-origin: 50% 50%;
  animation: small_boat 5s linear infinite alternate;
  animation-delay: 4.2s;
  animation-fill-mode: forwards;
}

#medium_boat {
  transform-origin: 50% 50%;
  animation: medium_boat 6s linear infinite alternate;
  animation-delay: 4.2s;
  animation-fill-mode: forwards;
}

#large_boat {
  transform-origin: 50% 50%;
  animation: large_boat 7s linear infinite alternate;
  animation-delay: 4.2s;
  animation-fill-mode: forwards;
}

// animation boats and reflect boats
@keyframes boats {
  from {
    opacity: 0;
  }

  to {
  opacity: 1;
  }
}

@keyframes small_boat {
  from {
    transform: rotate(-3deg) translateX(6px) translateY(1px);
  }

  to {
    transform: rotate(3deg) translateX(6px) translateY(1px);
  }
}

@keyframes medium_boat {
  from {
    transform: rotate(-4deg) translateX(8px) translateY(3px);
  }

  to {
    transform: rotate(4deg) translateX(8px) translateY(3px);
  }
}

@keyframes large_boat {
  from {
    transform: rotate(-5deg) translateX(-10px) translateY(-5px);
  }

  to {
    transform: rotate(5deg) translateX(10px) translateY(5px);
  }
}
